@font-face {
    font-family: norse-bold;
    src: url(./fonts/Norse-Bold.otf);
}

:root {
    --green: #596D48;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    display: flex;
}

#left {
    width: 30vw;
    height: 100vh;
    background-image: url("./images/bg-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: white;
}

#left #credit {
    position: absolute;
    bottom: 0;
    font-weight: 200;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

#left #credit a {
    color: white;
}

#left-card {
    box-sizing: border-box;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: fit-content;
    top: 20%;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    font-size: 7rem;
    font-family: norse-bold;
}

#left-card img {
    width: 25%;
    object-fit: cover;
}

#right {
    width: 70vw;
    height: 100vh;
    background-color: #f6f5f4;

    display: flex;
    flex-direction: column;
}

#top-txt, #acc-btn {
    flex: 1;
}

#top-txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 25px;
    padding: 0 250px 20px 50px;
    font-size: 1.75rem;
    font-weight: 500;
}

span {
    font-style: italic;
}

#sign-up-form {
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.15);
    flex: 0 0 35vh;
    padding: 20px 0 50px 50px;
    display:flex;
    flex-direction: column;
    gap: 25px;
}

#sign-up-form h3 {
    font-weight: 500;
    font-size: 1.5rem;
}

form {
    display: flex;
    flex: 1;
}

form > div {
    flex: 1;
    display: flex;
    gap: 75px;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col > div {
    display: flex;
    flex-direction: column;
}

label {
    color: #333;
    letter-spacing: 2px;
}

input {
    height: 30px;
    width: 25vw;
    border: 2px solid #E5E7EB;
    border-radius: 5px;
}

#acc-btn {
    padding: 20px 0 0 50px;
}

button {
    padding: 15px;
    width: 15vw;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    background-color: var(--green);
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

#acc-btn > p {
    font-size: 1.15rem;
}

#acc-btn a {
    color: var(--green);
    text-decoration: none;
}